@import url('font-awesome.min.css');
@import url('responsive.css');
@import url('overwrite.css');

body {
    font-size: 16px;
}
.brand {
    text-align: center;
}
.brand h4 {
    display: inline-block;
}
.brand h5 {
    color: #676767;
    margin-top: 1rem;
}

.btn-login, .btn-login:hover, .btn-login:active, .btn-login:focus {
    background-color: #2e3192 !important;
    border-color: #2e3192 !important;
}

.btn-white {
    background-color: white !important;
    border-color: white !important;
    color: black!important;
}
.login-form label {
    font-size: 1.5rem;
    color: white;
}

.login-form label.remember {
    font-size: 1rem;
}
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar.fixed-top {
    border-width: 0;
}
.myAlert-top{
    position: fixed;
    top: 120px;
    left:2%;
    width: 96%;
}

.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

div.fullscreen {
    position: absolute;
    width:100%;
    height:960px;
    top: 0;
    left: 0;
    background-color: lightblue;
}

.alert{
    display: none;
}


.social-icon:before {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
}
.icon-facebook::before {
    background-image: url(../img/social/facebook.png);
    content: ' ';
}


.icon-instagram::before  {
    content: ' ';
    background-image: url(../img/social/instagram.png);
}

.icon-snapchat::before  {
    content: ' ';
    background-image: url(../img/social/snapchat.png);
}

.icon-pinterest::before  {
    content: ' ';
    background-image: url(../img/social/pinterest.png);
}

.icon-tweet::before  {
    content: ' ';
    background-image: url(../img/social/twitter.png);
}

.banner-el {
    padding: 20px 0 10px 0;
    border-top: 1px solid #444951;
}
.banner-el::after {
    content: ' ';
    width: 100%;
    display: table;
    position: relative;
    clear: both;
    float: none;
}
.banner-el .form-group {
    margin-left: 120px;
    margin-right: 0px;
}
.banner-el img {
    float: left;
}
.banner-el img, .banner-el .form-group {
    position: relative;
    /*display: inline-block;*/
    vertical-align: middle;
}
.banner-el img::before {
    content: ' ';
    display: block;
    position: absolute;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/baner-bk.jpg);
    background-size: cover;
}
.banner-click img::before {
    background-image: url(../img/click-baner-bk.jpg);
}

footer {
    text-align: center;
    margin: 40px 0;
    color: white;
    font-weight: bold;
}

.title {
    font-size: 1.5em;
    margin-bottom: 30px;
}
.section-logo {
    border-bottom: 2px solid #898989;
    padding: 20px;
}
.section-logo > div {
    padding: 20px;
}

.section-logo >div:first-child {
    border-right: 2px solid #898989;
}
.section-social {
    margin-top: 40px;
}
[data-loader='rectangle'] {
    position: fixed;
    width: 10px;
    height: 30px;
    -webkit-animation: rectangle infinite 1s ease-in-out -.2s;
    -moz-animation: rectangle infinite 1s ease-in-out -.2s;
    -o-animation: rectangle infinite 1s ease-in-out -.2s;
    animation: rectangle infinite 1s ease-in-out -.2s;
    background-color: #fff;
    top: calc(50% - 140px);
    left: calc(50% - 5px);
    z-index: 1000;
}

[data-loader='rectangle']:before, [data-loader='rectangle']:after {
    position: absolute;
    width: 10px;
    height: 30px;
    content: '';
    background-color: #fff;
}

[data-loader='rectangle']:before {
    left: -20px;
    -webkit-animation: rectangle infinite 1s ease-in-out -.4s;
    -moz-animation: rectangle infinite 1s ease-in-out -.4s;
    -o-animation: rectangle infinite 1s ease-in-out -.4s;
    animation: rectangle infinite 1s ease-in-out -.4s;
}

[data-loader='rectangle']:after {
    right: -20px;
    -webkit-animation: rectangle infinite 1s ease-in-out;
    -moz-animation: rectangle infinite 1s ease-in-out;
    -o-animation: rectangle infinite 1s ease-in-out;
    animation: rectangle infinite 1s ease-in-out;
}
@keyframes rectangle {
    0%, 80%, 100% {
        height: 35px;
        -webkit-box-shadow: 0 0 #fff;
        box-shadow: 0 0 #fff;
    }

    40% {
        height: 45px;
        -webkit-box-shadow: 0 -20px #fff;
        box-shadow: 0 -20px #fff;
    }
}

.page-header {
    margin-bottom: 20px;
}

.treeview {
    min-width: 300px;
    height: 30vh;
    overflow-y: auto;
}

.owl-item .item {
    position: relative;
}

.owl-item .item .img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    /*opacity: 0;*/
    display: none; /* comment this out for CSS hover */
    /*background-color: #333;*/
    transition: all 0.5s ease;
}

.owl-item .item .img-title h5 {
    position: absolute;
    color: #fff;
    top: 33%;
    width: 100%;
    text-align: center;
}